{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}{{ username }}{% endblock %}
<div>
	<a style="font-size: 20px" href="{{ url_for('edit_profile', token=token, name=name, bio=bio, profile_pic=profile_pic, username=username) }}">Edit Profile</a>
</div>

<hr>

<div>
	<div>
		<a style="font-size: 18px" href="{{ url_for('followers', token=token, profile_id=user_id) }}">Followers</a>
		<a style="padding-left: 5px; font-size:18px" href="{{ url_for('following', token=token, profile_id=user_id) }}">Following</a>
	</div>

	<span>
		<img src="{{ profile_pic }}" alt="Could not load profile image" width="350">
		<h6><a href="{{ url_for('change_profile_pic', token=token) }}">Change Profile Picture</a></h6>
	</span>
	<span>
		<b><h3>{{ name }}</h3></b>
		<p style="font-size: medium">{{ bio }}</p>
	</span>

	<hr>


</div>

{% for post in posts %}
	<div style="padding-top: 50px">
		<img src="{{ post[1] }}" alt="Failure" width="400">
		<div>
			<h6>{{ post[2] }}</h6>
		</div>
	</div>
	<form action="{{ url_for('delete_post', token=token, post_id=post[0]) }}">
        <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
    </form>
	<hr>
{% endfor %}



{% endblock %}