{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}{{ username }}{% endblock %}
<div>
	<a style="font-size: 20px" href="{{ url_for('edit_profile', user_id=user_id, name=name, bio=bio, profile_pic=profile_pic, username=username) }}">Edit Profile</a>
</div>

<hr>

<div style="float:left; padding-right: 30px">

	<img src="{{ profile_pic }}" alt="Could not load profile image" width="350">
	<h6><a href="{{ url_for('change_profile_pic', user_id=user_id) }}">Change Profile Picture</a></h6>

	<hr>

	{% for post in posts %}
		<div style="padding-top: 50px">
			<img src="{{ post[1] }}" alt="Failure" width="400">
			<div>
				<h6>{{ post[2] }}</h6>
			</div>
		</div>
		<hr>
	{% endfor %}


</div>

<div>
	<b><h3>{{ name }}</h3></b>
	<p style="font-size: medium">{{ bio }}</p>
</div>



{% endblock %}